<!-- Loop over each object in the projects array -->
<div>

    <h3 >Search History:</h3>
    <div id="searchList">
        <a></a>
    </div>

</div>

<script src="../public/js/apis/citystate.js"></script>
