<div>
    
    <h2>Search History</h2>

    {{#each projects as |project|}}
    <div class="row mb-4 project">
        <p>
        {{project.city}}, {{project.state}}</li>
        </p>
    </div>
    {{/each}}

</div>

