<div class="text-center">
  <h2>{{city}}, {{state}}</h2>
  
  <p>Tonight's visibility:
  </p>

  <p>
  RESULTS HERE
  </p>

  <p>
    <button class="btn btn-primary">Back to Homepage</button>
  </p>

</div>